@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;600&display=swap');
*, *::before, *::after{
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.nav-container{
    background: rgba(255, 255, 255, 2);
    text-align: center;
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
}
.logo{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 36px;
    font-style: normal;
    color: #021718;
}
.nav-items{
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: rgba(255, 255, 255, 3);
    width: 100%;
    display: none;
    transform: scale(1,0);
    transform-origin: top;
    /* transition: transform 400ms ease-in-out; */
}
.nav-items ul{
    margin: 0;
    padding: 0;
    list-style: none;
    background: rgba(255, 255, 255, 3);
}
.nav-items li{
    margin-bottom: 1em;
    margin-left: 1em;
    font-weight: bolder;
    background: rgba(255, 255, 255, 3);
    color: #0de9d3;
}
.nav-items a{
}
.nav-items a:hover{
    cursor: pointer;
}
.nav-toggle:checked ~ .nav-items{
    display: block;
    transform: scale(1,1);
    background: rgba(255, 255, 255, 3);
    color: #0de9d3;

}
.nav-toggle{
    display: none;
}
.nav-toggle-label{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;

}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    width: 2em;
    display: block;
    height: 2px;
    border-radius: 2px;
    position: relative;
    background: black;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    content: '';
    position: absolute;
    background: black;
}
.nav-toggle-label span::before{
    bottom: 7px;
}
.nav-toggle-label span::after{
    top: 7px;
}
.header-container{
    padding-top: 30px;
    width: 100%;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hero-container{
    padding-left: 10px;
}
.hero-image{
    float: right;
    padding: 20px 20px 20px 0px;
    margin-left: 100px;
}
.hero-image-two{
    padding-left: 10px;
}
.text a{
    text-decoration: none;
    color: #000000;
}
.hero-container-two{
    float: right;
    margin: 5px;
}
.name{
    color: #0de9d3;
    font-weight: 900;
}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: #1a1c20;
}
.icon-style{
    padding-right: 40px;
    margin-top: 20px;
    height: 40px;
}
.footer-content-right{
    padding-right: 40px;
    margin-top: 20px;
    float: left;
}
.icon-style:hover{
    color: rgb(38, 197, 171);
}
.head{
    padding-top: 40px;
    text-align: center;
    font-size: 30px;
    
}
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    font-size: 20px;
    font-weight: bold;
    width: 90%;
    background: url("./images/Vector.png");
    background-repeat: no-repeat;
}
.sections{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    /* border: 1px solid red; */
    border-radius: 0.5em;
    margin: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    font-weight: bolder;
    text-transform: capitalize;
}
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.card-button{
    display: inline-block;
    background-color: #16e0e7a9;
    border-radius: 50px;
    box-shadow:  5px 5px 15px rgba(0, 0, 0, 0.5);
    color: #000000;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    height: 30px;
    padding: 0 25px;
    font-weight: bolder;
}
.card-button a{
    text-decoration: none;
}

@media screen and (min-width: 800px) {
    .nav-toggle-label{
        display: none;
    }
    .wrapper{
        all: unset;
        display: flex;
        
        /* grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr; */
    }
    .nav-container{
        all: unset;
        display: flex;
        flex-direction: row;
    }
    .nav-items{
        all: unset;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
    }
    .nav-items ul{
        all: unset;
        padding-left: 100px;
    }
    .nav-final{
        display: flex;
        padding-left: 20px;
        width: 100%;
        background: rgba(255, 255, 255, 2);

    }
    .nav-items ul li{
        all: unset;
        padding-top: 2px;
        display: inline-block;
        padding-left: 60px;
        padding-right: 80px;
    }
    .nav-items ul li a{
        color: #0de9d3;
    }
    .header-container{
        /* width: 1024px; */
        background: url("./images/Vector.png");
        background-repeat: no-repeat;
        /* background-size: contain; */
    }
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-top: 40px;
    }
    .part-one{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .hero-container{
        margin-left: 30px;
        padding-right: 30px;
    }
    .hero-image{
        padding-left: 120px;
        margin-top: 80px;
    }
    
    .part-two{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .hero-image-two{
        padding-left: 90px;
        
    }
    .hero-container-two{
        padding-left: 150px;
        padding-top: 70px;
    }
    .name{
        color: #0de9d3
        font-weight: 900;
    }
    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
    
    }
    .cards{
        display: flex;
        flex-direction: row;
        min-height: 50vh;
        padding: 4rem;
        /* border: 1px solid red; */
    }
    .sections{
        display: flex;
        flex-direction: row;
        align-items: center;
        /* border: 1px solid red; */
        padding: 2rem;
        border-radius: 0.5em;
        margin: 2rem;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
        font-weight: bolder;
        text-transform: capitalize;
    }
    .card-button{
        display: inline-block;
        background-color: #16e0e7a9;
        border-radius: 50px;
        box-shadow: rgba(0, 0, 0, 0.5);
        color:hsl(0, 0%, 0%);
        cursor: pointer;
        font-family: "Montserrat", sans-serif;
        font-size: 1em;
        height: 30px;
        padding: 0 25px;
        font-weight: bold;
        margin-top: 10px;
    }
    .column{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .desc-text{
        margin: 20px 0;
    }
    .head{
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        font-size: 36px;
        font-style: normal;
        color: #021718;
        text-align: center;
        margin-top: 30px;
    }
    .text a{
        text-decoration: none;
        color: #000000;
    }
    
    
    /* Footer */
    
    .footer {
      position:fixed;
      bottom:0;
      left:0;
      width:100%;
      height: 90px;
      background-color: #1a1c20;
    }
    
    .footer-content-right {
      padding-right:40px;
      margin-top:20px;
      float:right;
    }
    
    .icon-style {
      height:40px;
      margin-left:20px;
      margin-top:5px;
    }
    
    .icon-style:hover {
      background-color:rgb(38, 197, 171);
      padding:5px;
    }
    
}



